<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "https://triplemoongoddess.com/#lisa",
      "name": "Lisa Hagan",
      "alternateName": "Lisa Hagan Astrology",
      "url": "https://triplemoongoddess.com/about.html",
      "jobTitle": "Psychological Astrologer",
      "image": "https://triplemoongoddess.com/lisa-about.jpg",
      "email": "Lisa@TripleMoonGoddess.com",
      "worksFor": {
        "@id": "https://triplemoongoddess.com/#org"
      },
      "sameAs": [
        "https://www.instagram.com/triplemoongoddesscom/",
        "https://www.facebook.com/triplemoongoddesscom",
        "https://www.tiktok.com/@triplemoongoddessco",
        "https://www.youtube.com/@TripleMoonGoddess26",
        "https://open.spotify.com/user/31ygcnpfe7qw3v2z3ucbgox3tzju"
      ]
    },
    {
      "@type": "Organization",
      "@id": "https://triplemoongoddess.com/#org",
      "name": "Triple Moon Goddess",
      "alternateName": "Lisa Hagan Astrology",
      "url": "https://triplemoongoddess.com/",
      "logo": "https://triplemoongoddess.com/tmg-banner.png",
      "image": "https://triplemoongoddess.com/tmg-banner.png",
      "email": "Lisa@TripleMoonGoddess.com",
      "founder": {
        "@id": "https://triplemoongoddess.com/#lisa"
      },
      "sameAs": [
        "https://www.instagram.com/triplemoongoddesscom/",
        "https://www.facebook.com/triplemoongoddesscom",
        "https://www.tiktok.com/@triplemoongoddessco",
        "https://www.youtube.com/@TripleMoonGoddess26",
        "https://open.spotify.com/user/31ygcnpfe7qw3v2z3ucbgox3tzju"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://triplemoongoddess.com/#website",
      "url": "https://triplemoongoddess.com/",
      "name": "Triple Moon Goddess",
      "publisher": {
        "@id": "https://triplemoongoddess.com/#org"
      }
    }
  ]
}
</script>
